<div class="card"> 
    <div class="card-header">
        {{ pageTitle}}
    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-md-2"> Filter by: </div>
        <div class="col-md-4">
            <input type="text"
                [(ngModel)] = "listFilter" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Filtered by: {{ listFilter }}</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table"
            *ngIf="groceries && groceries.length">
            <thead>
                <tr>
                    <th> 
                        <button class="btn btn-primary"
                        (click)="toggleImage()">{{showImage? 'Hide': 'Show'}} image</button>
                    </th>
                    <th>Item</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Got it</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grocery of groceries">
                    <td> <img *ngIf="showImage"
                        [src]="grocery.imageUrl"
                        [title]="grocery.groceryName"
                        [style.width.px]= "imageWidth"
                        [style.margin.px]="imageMargin"></td>
                    <td> {{ grocery.groceryName }} </td>
                    <td> {{ grocery.groceryCode | lowercase }} </td>
                    <td> {{ grocery.quantity }} </td>
                    <td> {{ grocery.price | currency: 'USD': 'symbol': '1.2-2' }} </td>
                    <td> <app-check-circle [isChecked]= "grocery.gotIt"
                        (isCheckedClicked)= "onCheckCircleClicked($event)">
                        </app-check-circle>
                </td>
                </tr>
                
            </tbody>
        </table>

    </div>

</div>